/* UTILITIES */

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-r {
  display: flex;
  flex-direction: reverse;
}

.flex-cr {
  display: flex;
  flex-direction: column-reverse;
}

.flex-cs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-spaced {
  display: flex;
  justify-content: space-between;
}
.flex-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-cc {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.f-str {
  align-items: stretch;
}

.flex-grow1 {
  flex-grow: 2;
}

.bgr {
  background-color: red;
}

.bg--th {
  background-color: #d7d7d7;
}

.f-start {
  display: flex;
  align-content: flex-start;
}

.flex-ccc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-2 {
  display: flex;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  /* justify-content: flex-start; */
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.flex-stretch {
  display: flex;
  align-items: stretch;
}

.flex-w {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

/* padding utilities */
/* padding left */
.pb5p {
  margin-bottom: 5px;
}
.pb1 {
  padding-bottom: 1%;
}

.pb2 {
  padding-bottom: 2%;
}

.pl1 {
  padding-left: 1%;
}

.prp5 {
  padding-right: 0.5%;
}
.pr1 {
  padding-right: 1%;
}

.pr10 {
  padding-right: 10%;
}
.pr13 {
  padding-right: 13%;
}
.pl2 {
  padding-left: 10%;
}
.pl11 {
  padding-left: 11%;
}
.pl12 {
  padding-left: 12%;
}
/* padding top */
.pt1 {
  padding-top: 1%;
}

.pr1rem {
  padding-right: 1rem;
  /* background-color: red; */
}
.pt2 {
  padding-top: 2%;
}

.pt4 {
  padding-top: 4%;
}
.pt5 {
  padding-top: 5%;
}
.pt6 {
  padding-top: 6%;
}
.pr5 {
  padding-right: 5%;
}
.pr7 {
  padding-right: 7%;
}
.pt10 {
  padding-top: 10%;
}
.pr10 {
  padding-right: 10%;
}
.pt20 {
  padding-top: 20%;
}
.pr20 {
  padding-right: 20%;
}
.pt30 {
  padding-top: 30%;
}
.pt40 {
  padding-top: 40%;
}
.pt50 {
  padding-top: 50%;
}

.m40 {
  margin-top: 40px;
}

.mb2 {
  margin-bottom: -2rem;
}

.mb5px {
  margin-bottom: 5px;
}

.m20 {
  margin-top: 1rem;
}

.ml5r {
  margin-left: 30rem;
}

.mln2 {
  margin-left: -2.4rem;
}
.mlnp9 {
  margin-left: -0.9rem;
}
.mlnp8 {
  margin-left: -0.8rem;
}
.mlnp7 {
  margin-left: -0.7rem;
}
.mln5 {
  margin-left: -0.5rem;
}
.mln4 {
  margin-left: -0.5rem;
}
.mln5 {
  margin-left: -0.8rem;
}
.mlp5 {
  margin-left: 0.3rem;
}
.mlp3 {
  margin-left: 3px;
}

.-mt-5 {
  margin-top: -5%;
}
.-mt-10 {
  margin-top: -10%;
}
.mtminus1 {
  margin-top: -1rem;
}
.someGitThing {
  margin-top: 0px;
}
.mtminus2 {
  margin-top: -2rem;
}
.bgr {
  background-color: red;
}

.mtn10 {
  margin-top: -10%;
}
.mtn30 {
  margin-top: -30%;
}
.mtn7 {
  margin-top: -7%;
}
.mtn5 {
  margin-top: -5%;
}
.mbn10 {
  margin-bottom: -10%;
}
.mbn5 {
  margin-bottom: -5%;
}
/* NEGATIVE MARGIN BOTTOM */
.-mb-1 {
  margin-bottom: -1rem;
}
.-mb-p5 {
  margin-bottom: -0.5rem;
}
.-mb-p4 {
  margin-bottom: -0.4rem;
}
.-mb-p3 {
  margin-bottom: -0.3rem;
}
.mtn5 {
  margin-top: -5%;
}
.mtminus4 {
  margin-top: -4rem;
}

.mlminus2 {
  margin-left: -20rem;
}

.mrn10 {
  margin-right: -10%;
}
.mrn5 {
  margin-right: -5%;
}
.ml10 {
  margin-left: 10%;
}

/* lists */
.disk-styled-list {
  list-style: disc;
}

.pl-100 {
  margin-left: 85%;
}

.pl3 {
  padding-right: 3.5px;
}

.pt-3 {
  margin-bottom: -1rem;
}

.gapp5 {
  gap: 0.5rem;
}
.gapp6 {
  gap: 0.6rem;
}
.gap1 {
  gap: 1rem;
}
.gapfull {
  gap: 10vw;
}
.gap3vw {
  gap: 3vw;
}
.gap2vw {
  gap: 2vw;
}
.gap2p5vw {
  gap: 2.5vw;
}

.pointer:hover {
  cursor: pointer;
}

.wrap {
  flex-wrap: wrap;
}

.flex80 {
  flex: 80%;
}
.flex60 {
  flex: 60%;
}
.flex50 {
  flex: 50%;
}
.flex40 {
  flex: 40%;
}

.flex30 {
  flex: 30%;
}
.flex20 {
  flex: 20%;
}
.flex10 {
  flex: 10%;
}

.block {
  display: inline-block;
}

.cursor-auto:hover {
  cursor: auto;
}

.remove-btn-container {
  height: 0.8em;
  width: 25px;
  background-color: #fff;
}

.remove-btn {
  width: 15px;
  border-radius: 30%;
  margin-top: 22%;
  margin-left: 18%;
  height: 0.1em;
  background-color: #5393fa;
}

.add-btn-x1 {
  width: 8px;
  height: 0.1em;
}
.add-btn-x2 {
  width: 8px;
  height: 0.1em;
}
.add-btn-y {
  height: 14px;
  width: 0.1em;
}

.add-btn-container {
  height: 1.2em;
  width: 25px;
  background-color: #fff;
}

.add-btn-x1,
.add-btn-x2,
.add-btn-y {
  background-color: #5393fa;
}

/* POSITIVE MARGINS */
.ml-100 {
  margin-left: 100%;
}
.ml-80 {
  margin-left: 80%;
}
.ml-70 {
  margin-left: 70%;
}
.ml-p5 {
  margin-left: 0.5rem;
}
.ml-p3 {
  margin-left: 0.3rem;
}
.ml-p2 {
  margin-left: 0.2rem;
}
.ml-p1 {
  margin-left: 0.1rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-2p5 {
  margin-left: 2.5rem;
}
.ml-1p5 {
  margin-left: 1.5rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-p2 {
  margin-top: 0.2rem;
}
.mt-p3 {
  margin-top: 0.3rem;
}
.mt-p4 {
  margin-top: 0.4rem;
}
.mt-p5 {
  margin-top: 0.5rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-1p5 {
  margin-bottom: 1.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-p5 {
  margin-bottom: 0.5rem;
}
/* NEGATIVE MARGINS */
.-ml-p7 {
  margin-left: -0.7rem;
}
.-ml-p6 {
  margin-left: -0.6rem;
}
.-ml-p5 {
  margin-left: -0.5rem;
}
.-ml-1 {
  margin-left: -1rem;
}
.-ml-2 {
  margin-left: -2rem;
}
.-ml-2 {
  margin-left: -2rem;
}
.-ml-3 {
  margin-left: -3rem;
}
.-ml-3-5 {
  margin-left: -3.5rem;
}
.-ml-4 {
  margin-left: -4rem;
}

.-mt-p5 {
  margin-top: -0.5rem;
}
.-mt-1p5 {
  margin-top: -1.5rem;
}
.-mt-1 {
  margin-top: -1rem;
}
.-mt-2 {
  margin-top: -2rem;
}
.-mt-3 {
  margin-top: -3rem;
}
.-mt-4 {
  margin-top: -4rem;
}

/* LEFT PADDING  */
.pl-2 {
  padding-left: 0.5rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pl-6 {
  padding-left: 1.5rem;
}
.pl-8 {
  padding-left: 2rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pr-6 {
  padding-right: 1.5rem;
}
.pr-7 {
  padding-right: 1.9rem;
}
.pr-8 {
  padding-right: 2rem;
}
.pr-10 {
  padding-right: 2.5rem;
}
.pr-12 {
  padding-right: 3rem;
}
.pr-14 {
  padding-right: 3.5rem;
}
.pr-16 {
  padding-right: 4rem;
}
/* BOTTOM PADDINGS */
.pb-1 {
  padding-bottom: 1rem;
}
.pb-p5 {
  padding-bottom: 0.5rem;
}

/* TOP PADDINGS */
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-5 {
  padding-top: 5rem;
}

.pt-50 {
  padding-top: 50%;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}

/* CONTENT RELATED */
.fit-content {
  min-width: fit-content;
}

.fcw {
  color: white;
}

/* UTILITIES FOR Z-INDEX */
.z-100 {
  z-index: 1000000;
}

/* PREVENT TEXT SELECTION  */
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
