/* UTILITIES */

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-r {
  display: flex;
  flex-direction: reverse;
}

.flex-cr {
  display: flex;
  flex-direction: column-reverse;
}

.flex-cs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-spaced {
  display: flex;
  justify-content: space-between;
}
.flex-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-cc {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.flex-ccc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-2 {
  display: flex;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  /* justify-content: flex-start; */
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.flex-stretch {
  display: flex;
  align-items: stretch;
}

.flex-w {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

/* padding utilities */
/* padding left */
.pl1 {
  padding-left: 1%;
}
.pr1 {
  padding-right: 1%;
}
.pl2 {
  padding-left: 10%;
}
/* padding top */
.pt1 {
  padding-top: 1%;
}

.pr1rem {
  padding-right: 1rem;
  /* background-color: red; */
}
.pt2 {
  padding-top: 2%;
}

.pt4 {
  padding-top: 4%;
}
.pt5 {
  padding-top: 5%;
}
.pt6 {
  padding-top: 6%;
}
.pr5 {
  padding-right: 5%;
}
.pr7 {
  padding-right: 7%;
}
.pt10 {
  padding-top: 10%;
}
.pr10 {
  padding-right: 10%;
}
.pt20 {
  padding-top: 20%;
}
.pr20 {
  padding-right: 20%;
}
.pt30 {
  padding-top: 30%;
}
.pt40 {
  padding-top: 40%;
}
.pt50 {
  padding-top: 50%;
}

.m40 {
  margin-top: 40px;
}

.mb2 {
  margin-bottom: -2rem;
}

.m20 {
  margin-top: 1rem;
}

.mlp5 {
  margin-left: 0.3rem;
}
.mtminus1 {
  margin-top: -1rem;
}

.mtminus2 {
  margin-top: -2rem;
}

.mtn10 {
  margin-top: -10%;
}
.mtn5 {
  margin-top: -5%;
}
.mtminus4 {
  margin-top: -4rem;
}

.mlminus2 {
  margin-left: -20rem;
}

.mrn10 {
  margin-right: -10%;
}
.ml10 {
  margin-left: 10%;
}

/* lists */
.disk-styled-list {
  list-style: disc;
}

.pl-100 {
  margin-left: 85%;
}

.pt-3 {
  margin-bottom: -1rem;
}

.gapp5 {
  gap: 0.5rem;
}
.gap1 {
  background-color: red;
  gap: 1rem;
}
.gapfull {
  gap: 10vw;
}

.pointer:hover {
  cursor: pointer;
}

 
.wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex80 {
  flex: 80%;
}
.flex60 {
  flex: 60%;
}
.flex50 {
  flex: 50%;
}
.flex40 {
  flex: 40%;
}

.flex30 {
  flex: 30%;
}
.flex20 {
  flex: 20%;
}
.flex10 {
  flex: 10%;
}
